# maven ignore
target/

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp
*.czk

# system ignore
.DS_Store
Thumbs.db

# project ignore
**/tmp
/.idea
/.vscode
.project
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.m2e.core.prefs
yyyq-auth/.classpath
yyyq-auth/.factorypath
yyyq-auth/.project
yyyq-auth/.settings/org.eclipse.core.resources.prefs
yyyq-auth/.settings/org.eclipse.jdt.apt.core.prefs
yyyq-auth/.settings/org.eclipse.jdt.core.prefs
yyyq-auth/.settings/org.eclipse.m2e.core.prefs
yyyq-common/.classpath
yyyq-common/.factorypath
yyyq-common/.project
yyyq-common/.settings/org.eclipse.core.resources.prefs
yyyq-common/.settings/org.eclipse.jdt.apt.core.prefs
yyyq-common/.settings/org.eclipse.jdt.core.prefs
yyyq-common/.settings/org.eclipse.m2e.core.prefs
yyyq-eureka/.classpath
yyyq-eureka/.factorypath
yyyq-eureka/.project
yyyq-eureka/.settings/org.eclipse.core.resources.prefs
yyyq-eureka/.settings/org.eclipse.jdt.apt.core.prefs
yyyq-eureka/.settings/org.eclipse.jdt.core.prefs
yyyq-eureka/.settings/org.eclipse.m2e.core.prefs
yyyq-external/.classpath
yyyq-external/.factorypath
yyyq-external/.project
yyyq-external/.settings/org.eclipse.core.resources.prefs
yyyq-external/.settings/org.eclipse.jdt.apt.core.prefs
yyyq-external/.settings/org.eclipse.jdt.core.prefs
yyyq-external/.settings/org.eclipse.m2e.core.prefs
yyyq-ffxiv-service/.classpath
yyyq-ffxiv-service/.factorypath
yyyq-ffxiv-service/.project
yyyq-ffxiv-service/.settings/org.eclipse.core.resources.prefs
yyyq-ffxiv-service/.settings/org.eclipse.jdt.apt.core.prefs
yyyq-ffxiv-service/.settings/org.eclipse.jdt.core.prefs
yyyq-ffxiv-service/.settings/org.eclipse.m2e.core.prefs
yyyq-ffxiv-service/src/main/java/yyyq/ffxiv/service/impl/UserFFXIVServiceImpl.java
yyyq-gateway/.classpath
yyyq-gateway/.factorypath
yyyq-gateway/.project
yyyq-gateway/.settings/org.eclipse.core.resources.prefs
yyyq-gateway/.settings/org.eclipse.jdt.apt.core.prefs
yyyq-gateway/.settings/org.eclipse.jdt.core.prefs
yyyq-gateway/.settings/org.eclipse.m2e.core.prefs
yyyq-portal/.classpath
yyyq-portal/.factorypath
yyyq-portal/.project
yyyq-portal/.settings/org.eclipse.core.resources.prefs
yyyq-portal/.settings/org.eclipse.jdt.apt.core.prefs
yyyq-portal/.settings/org.eclipse.jdt.core.prefs
yyyq-portal/.settings/org.eclipse.m2e.core.prefs
